* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    min-height: 100vh;
}

.wp-container {
    width: 1420px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 150px;
    background-color: #111;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); */
    z-index: 10;
}

.wp-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0px;
}

.wp-menu img.logo {
    height: 50px;
}

button.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.search .material-icons {
    line-height: 0;
    font-size: 20px;
}

.form-control {
    background-color: transparent;
    border-color: #fff7;
}

.form-control:focus {
    color: #fff9;
    background-color: transparent;
    border-color: red;
    box-shadow: none;
}

.btn-outline-secondary {
    border-color: #fff7;
}

.btn-outline-secondary:focus {
    box-shadow: none;
    border-color: red;
}

.input-group {
    width: auto;
    outline: none;
}

.mb-3 {
    margin-bottom: 0px !important;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#risultato-ricerca-film, #risultato-ricerca-serietv {
    color: #fff;
    display: none;
    margin-bottom: 30px;
}

#risultato-ricerca-film.visible, #risultato-ricerca-serietv.visible {
    display: block;
}

.grid-container {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: auto auto auto auto auto auto;
    margin-bottom: 50px;
}

ul.poster {
    width: 100%;
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
}

.poster li {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

ul.poster:hover li {
    transform: scale(1.05);
    opacity: 0.07;
}

.poster img {
    width: 100%;
}

ul.info {
    padding: 15px;
    color: #fff;
    list-style-type: none;
}

ul.info li {
    font-weight: 200;
    width: 160px;
    margin-bottom: 15px;
    line-height: 20px;
}

ul.info strong {
    font-weight: 700;
}


.star {
    color: orange;
}

.star_border {
    color: rgb(85 57 0);
}

.flags {
    width: 24px;
    height: 24px;
}

.flag-italiano {
    background: url('https://api.iconify.design/emojione-v1:flag-for-italy.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.flag-inglese {
    background: url('https://api.iconify.design/emojione-v1:flag-for-united-kingdom.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.flag-spagnolo {
    background: url('https://api.iconify.design/emojione-v1:flag-for-spain.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.flag-francese {
    background: url('https://api.iconify.design/emojione-v1:flag-for-france.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.flag-tedesco {
    background: url('https://api.iconify.design/emojione-v1:flag-for-germany.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}















/* END */
