* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    min-height: 100vh;
}

.wp-container {
    width: 1420px;
    height: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 10;
}

header img.logo {
    height: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0px;
    padding-bottom: 100px;
}

button.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.search .material-icons {
    line-height: 0;
    font-size: 20px;
}

.form-control {
    background-color: transparent;
    border-color: #fff7;
}

.form-control:focus {
    color: #fff9;
    background-color: transparent;
    border-color: red;
    box-shadow: none;
}

.btn-outline-secondary {
    border-color: #fff7;
}

.btn-outline-secondary:focus {
    box-shadow: none;
    border-color: red;
}

.input-group {
    width: auto;
    outline: none;
}

.mb-3 {
    margin-bottom: 0px !important;
}

.flix-jumbotron {
    width: 100vw;
    height: 100vh;
    background-image: url('https://weekendynamic.files.wordpress.com/2019/03/in-en-20190311-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    opacity: 0.8;
}

.dvd-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    /* padding: 100px 0; */
}

.dvd-container li {
    list-style: none;
    color: #fff;
}
















/* END */
